@charset "utf-8";
/* CSS Document */

body {
	background: white;
}
 
#c {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -134px 0 0 20px;
   	
}

#v {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -134px 0 0 -240px;
	

}

 
p {
	position: relative;
	z-index: 1;
}
